D3DDrv/Debug/
D3DDrv/Release/
ALAudio/Debug/
ALAudio/Release/
Core/Debug/
Core/Release/
DebugFiles/
Editor/Debug/
Editor/Release/
Engine/Debug/
Engine/Release/
Fire/Release/
ipch/
IpDrv/Debug/
IpDrv/Release/
UCC/Debug/
UCC/Release/
UccDepend/Debug/
UnrealEd/Debug/
UnrealEd/Release/
UWeb/Release/
Window/Release/
WinDrv/Debug/
WinDrv/Release/
zlib/Release/
zlib/Debug/
Vorbis/vorbis/win32/VorbisFile_Dynamic_Release/
Window/Debug/
Vorbis/vorbis/win32/VorbisFile_Dynamic_Debug/
Vorbis/vorbis/win32/Vorbis_Dynamic_Release/
Vorbis/vorbis/win32/Vorbis_Dynamic_Debug/
Vorbis/ogg/win32/Dynamic_Release/
Vorbis/ogg/win32/Dynamic_Debug/
UWeb/Debug/
Fire/Debug/
*.sdf
*.opensdf
.vs/
/*.htm
/UccDepend/Release
/Gameplay/Src/*.log
/Gameplay/Src/Gameplay.tlog
Tools/GenerateDefFromDumpbin/out/
Tools/GenerateDefFromDumpbin/build/
Tools/GenerateDefFromDumpbin/gradle/
Tools/GenerateDefFromDumpbin/.gradle/
Animations/
MAPS/
StaticMeshes/
SysTextures/
Textures/
Sounds/
System/*.txt
System/*.exp
System/*.lib
System/ExportedUPackages/
Tools/ParseExportFunctions/out/
Tools/IDAStructuresGenerator/out/
